In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
!pip install pyportfolioopt

Collecting pyportfolioopt
  Downloading PyPortfolioOpt-1.5.1-py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 6.7 MB/s
Requirement already satisfied: numpy<2.0,>=1.12 in /usr/local/lib/python3.7/dist-packages (from pyportfolioopt) (1.19.5)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pyportfolioopt) (1.1.5)
Requirement already satisfied: scipy<2.0,>=1.3 in /usr/local/lib/python3.7/dist-packages (from pyportfolioopt) (1.4.1)
Collecting cvxpy<2.0.0,>=1.1.10
  Downloading cvxpy-1.1.17-cp37-cp37m-manylinux_2_24_x86_64.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 42.0 MB/s
Requirement already satisfied: osqp>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from cvxpy<2.0.0,>=1.1.10->pyportfolioopt) (0.6.2.post0)
Requirement already satisfied: ecos>=2 in /usr/local/lib/python3.7/dist-packages (from cvxpy<2.0.0,>=1.1.10->pyportfolioopt) (2.0.7.post1)
Requirement already satisfied: scs>=1.1.6 in /usr/local/lib/python3.7/dist-packages (from cvxpy<2.0.0,>=1.1.10->pyportfolioopt) (2.1.4)
Requirement already satisfied: qdldl in /usr/local/lib/python3.7/dist-packages (from osqp>=0.4.1->cvxpy<2.0.0,>=1.1.10->pyportfolioopt) (0.1.5.post0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pyportfolioopt) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pyportfolioopt) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19->pyportfolioopt) (1.15.0)
Installing collected packages: cvxpy, pyportfolioopt
  Attempting uninstall: cvxpy
    Found existing installation: cvxpy 1.0.31
    Uninstalling cvxpy-1.0.31:
      Successfully uninstalled cvxpy-1.0.31
Successfully installed cvxpy-1.1.17 pyportfolioopt-1.5.1

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import objective_functions

In [ ]:
def get_optimal_weights(exp_returns: pd.Series, exp_cov:pd.DataFrame, vol_limit: float = None):
  ef = EfficientFrontier(exp_returns, exp_cov)
  if vol_limit is not None:
    weights = ef.efficient_risk(vol_limit)
  # If vol limit not specified, default to maximising return risk ratio
  else:
    weights = ef.nonconvex_objective(
            objective_functions.sharpe_ratio,
            objective_args=(ef.expected_returns, ef.cov_matrix),
        )
  return pd.Series(weights)

## Baseline Optimisation

#### Uses rolling 30 days mean returns to calculate expected returns and rolling 252 days returns to calculate covariance

In [ ]:
ohlc_data = pd.read_csv("/content/drive/MyDrive/Portfolio Optimization [Fintech ML]/OHLC Data/ohlc_data.csv")
ohlc_data["Date"] = pd.to_datetime(ohlc_data["Date"])
ohlc_data.head()

        Date       Open       High  ...  Adj Close   Volume  ticker
0 2000-10-02  53.393299  55.143902  ...  41.145496  4219239     AXP
1 2000-10-03  54.651543  54.870369  ...  40.165859  3933737     AXP
2 2000-10-04  53.885654  54.104481  ...  39.809448  2751628     AXP
3 2000-10-05  53.995068  54.706249  ...  39.891190  3767623     AXP
4 2000-10-06  53.010357  53.174477  ...  37.888451  6946990     AXP

[5 rows x 8 columns]

In [ ]:
data = ohlc_data.pivot(index="Date",columns="ticker",values="Adj Close")

In [ ]:
ohlc_data

             Date        Open        High  ...   Adj Close    Volume  ticker
0      2000-10-02   53.393299   55.143902  ...   41.145496   4219239     AXP
1      2000-10-03   54.651543   54.870369  ...   40.165859   3933737     AXP
2      2000-10-04   53.885654   54.104481  ...   39.809448   2751628     AXP
3      2000-10-05   53.995068   54.706249  ...   39.891190   3767623     AXP
4      2000-10-06   53.010357   53.174477  ...   37.888451   6946990     AXP
...           ...         ...         ...  ...         ...       ...     ...
137533 2020-12-23  172.960007  175.949997  ...  173.550003   9994000     DIS
137534 2020-12-24  173.990005  174.580002  ...  173.729996   2721000     DIS
137535 2020-12-28  175.750000  179.919998  ...  178.860001  13145400     DIS
137536 2020-12-29  180.009995  180.199997  ...  177.300003   6875400     DIS
137537 2020-12-30  178.500000  183.399994  ...  181.169998  11680400     DIS

[137538 rows x 8 columns]

In [ ]:
data = ohlc_data.pivot(index="Date",columns="ticker",values="Adj Close")
returns = data.pct_change()

In [ ]:
returns.head()

ticker          AAPL      AMGN       AXP  ...        VZ       WBA       WMT
Date                                      ...
2000-10-02       NaN       NaN       NaN  ...       NaN       NaN       NaN
2000-10-03 -0.079896  0.015209 -0.023809  ...  0.005277  0.000000 -0.009459
2000-10-04  0.058822 -0.034644 -0.008873  ...  0.038058  0.016835  0.006821
2000-10-05 -0.066138  0.033948  0.002053  ...  0.057540  0.038079 -0.001355
2000-10-06  0.005666 -0.053471 -0.050205  ... -0.028916 -0.033492 -0.012212

[5 rows x 27 columns]

In [ ]:
# Returns dataframe of expected returns as the mean of the past [window] days
def get_predicted_returns(window: int):
  return returns.rolling(window).mean().shift(1)["2016-01-01":]

# Returns multiindex dataframe where first level index is date, value is dataframe of covariance matrix calculated by past [window] number of days
def get_predicted_covariance(window:int):
  return returns.rolling(window).cov().unstack().shift(1).stack().query("Date > '2016-01-01'")

In [ ]:
exp_return= get_predicted_returns(30)
exp_cov = get_predicted_covariance(252)

In [ ]:
exp_return.head()

ticker          AAPL      AMGN       AXP  ...        VZ       WBA       WMT
Date                                      ...
2016-01-04 -0.002452  0.001130 -0.000685  ...  0.000885  0.000971  0.001094
2016-01-05 -0.003479 -0.000391 -0.002112  ...  0.000411 -0.000501  0.000620
2016-01-06 -0.004737 -0.000131 -0.002897  ...  0.000589 -0.000687  0.001537
2016-01-07 -0.005536 -0.000524 -0.003676  ...  0.000558 -0.000795  0.002217
2016-01-08 -0.006509 -0.001853 -0.003893  ...  0.000668 -0.000183  0.002888

[5 rows x 27 columns]

In [ ]:
exp_cov.head()

ticker                 AAPL      AMGN       AXP  ...        VZ       WBA       WMT
Date       ticker                                ...
2016-01-04 AAPL    0.000284  0.000116  0.000086  ...  0.000080  0.000107  0.000078
           AMGN    0.000116  0.000318  0.000106  ...  0.000075  0.000166  0.000091
           AXP     0.000086  0.000106  0.000182  ...  0.000065  0.000091  0.000053
           BA      0.000130  0.000130  0.000070  ...  0.000071  0.000110  0.000086
           CAT     0.000119  0.000107  0.000090  ...  0.000077  0.000080  0.000061

[5 rows x 27 columns]

In [ ]:
optimal_weights = exp_return.apply(lambda x: get_optimal_weights(x, exp_cov.loc[x.name].reset_index(level=0, drop=True)), axis=1)

In [ ]:
portfolio_returns = (optimal_weights * returns).dropna().sum(axis=1)

In [ ]:
portfolio_returns.head()

Date
2016-01-04   -0.024579
2016-01-05    0.004562
2016-01-06   -0.018165
2016-01-07   -0.023864
2016-01-08    0.003067
dtype: float64

In [ ]:
portfolio_returns.to_csv("baseline_return.csv")

## ML Optimization


#### Uses LSTM model to calculate expected returns and GARCH model to calculate covariance

In [ ]:
ml_exp_return = pd.read_csv("/content/drive/MyDrive/Portfolio Optimization [Fintech ML]/Forecast Data/forecast_return.csv").set_index("Date").sort_index(axis=1)
ml_exp_cov = pd.read_csv("/content/drive/MyDrive/Portfolio Optimization [Fintech ML]/Forecast Data/forecast_covariance.csv").set_index(["Date","ticker"])

In [ ]:
ml_exp_return.head()

                AAPL      AMGN       AXP  ...        VZ       WBA       WMT
Date                                      ...
2016-01-04 -0.000119  0.000934 -0.000575  ...  0.000396  0.001208 -0.000218
2016-01-05 -0.000132  0.000969 -0.000577  ...  0.000410  0.001209 -0.000225
2016-01-06 -0.000164  0.000995 -0.000570  ...  0.000417  0.001210 -0.000230
2016-01-07 -0.000218  0.001027 -0.000551  ...  0.000428  0.001212 -0.000233
2016-01-08 -0.000321  0.001080 -0.000523  ...  0.000442  0.001213 -0.000233

[5 rows x 27 columns]

In [ ]:
ml_exp_cov.head()

                       AAPL      AMGN       AXP  ...        VZ       WBA       WMT
Date       ticker                                ...
2016-01-04 AAPL    0.000321  0.000153  0.000125  ...  0.000138  0.000162  0.000107
           AMGN    0.000153  0.000269  0.000151  ...  0.000102  0.000171  0.000069
           AXP     0.000125  0.000151  0.000160  ...  0.000094  0.000118  0.000059
           BA      0.000155  0.000156  0.000169  ...  0.000107  0.000132  0.000077
           CAT     0.000148  0.000154  0.000109  ...  0.000096  0.000130  0.000098

[5 rows x 27 columns]

In [ ]:
ml_optimal_weights = ml_exp_return.apply(lambda x: get_optimal_weights(x, ml_exp_cov.loc[x.name].reset_index(level=0, drop=True)), axis=1)

In [ ]:
ml_portfolio_returns = (ml_optimal_weights * returns).dropna().sum(axis=1)

In [ ]:
ml_portfolio_returns.head()

Date
2016-01-04   -0.017145
2016-01-05   -0.017219
2016-01-06   -0.024412
2016-01-07   -0.030735
2016-01-08   -0.004131
dtype: float64

In [ ]:
ml_portfolio_returns.to_csv("ML_return.csv")

## Volatility Limit Study

#### Observe how portfolios perform when we choose to set a volatility limit and maximise returns instead of maximising return risk ratio

In [90]:
# Set portfolio volatility limit to 10%
baseline_maxret_weights = exp_return.apply(lambda x: get_optimal_weights(x, exp_cov.loc[x.name].reset_index(level=0, drop=True), 0.1), axis=1)
ml_maxret_weights = ml_exp_return.apply(lambda x: get_optimal_weights(x, ml_exp_cov.loc[x.name].reset_index(level=0, drop=True), 0.1), axis=1)

In [93]:
baseline_maxret_returns = (baseline_maxret_weights * returns).dropna().sum(axis=1)
ml_maxret_returns = (ml_maxret_weights * returns).dropna().sum(axis=1)

In [94]:
baseline_maxret_returns.to_csv("baseline_maxret_return.csv")
ml_maxret_returns.to_csv("ML_maxret_return.csv")